/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpintel/0b76fa6f4bb2e379012864992044f50c
.phpintel/index
.phpintel/index
