.site_title i {
    border: 1px solid #EAEAEA;
    padding: 8px!important;
    border-radius: 50%;
}

.fas{
    /* font-size: 20px !important; */
    padding-right: 10px !important;
}

.mat_icone{
    font-size: 20px !important; 
    padding-right: 5px !important;
}

.tabela_compacta td {
    font-size: 12px !important;
    padding-bottom: 2px !important;
    padding-top: 2px !important;
    vertical-align: middle !important;
}

.dataTables_filter {
    width: 100%!important; 
    float: right;
    text-align: right;
}

.form-control:focus {
    border-color:#66afe9 !important;
    -webkit-box-shadow: 2px 4px 20px -3px rgb(110, 17, 22) !important;
    -moz-box-shadow:    2px 4px 20px -3px rgb(110, 17, 22 !important;
    box-shadow:         2px 4px 20px -3px rgb(110, 17, 22 !important;
}

